/*! Place your custom styles here */
.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
}
.full-justify {
    text-align: justify;
    text-justify: inter-word;
}

.fm-boxes-container {
    padding-bottom: 1rem;
}

.lindenmuth-list {
    list-style: disc;
    padding-left: 5rem;
}

.lindenmuth-list-2 {
    list-style: square; 
}

.lindenmuth-list-3 {
    list-style: circle;
    padding-left: 5rem;
}

.lindenmuth-image {
    width: 30px;
    margin-left: 37%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

  width: 100%;
  text-align: center;
  color: #4A75AD;
}

.pm-table {
    display: table;
    border-collapse: collapse;
}

.pm-table td, .pm-table th {
    border: none;
}

.pm-table td:nth-child(even) {
    background-color: #f5f5f5; /* gray */
}
.pm-table td:nth-child(odd) {
    background-color: #ffffff; /* white */
}

.pm-table th:nth-child(even) {
    background-color: #f5f5f5; /* gray */
}

.pm-table th:nth-child(odd) {
    background-color: #ffffff; /* white */
}

/* Set the first column text-center */
.pm-table td:first-child {
    text-align: center;
}


.btn--primary {
    background-color: #4A75AD !important;
    border-color: #4A75AD !important;
}

.link--primary {
    color: #4A75AD;
}

.color--primary {
    color: #4A75AD !important;
}

@media screen and (max-width: 768px) {
    .contact-address-text {
        margin-top: 2rem !important;
    }
    
}

.home-image-link {
   margin-bottom: 1.85714286em !important;
}

.home-image-title {
    transition: all 0.3s ease;
}

/* media query for text center for screen size sm */
@media (max-width: 576px) {
    .text-center-sm {
        text-align: center;
    }

    .fm-header-justification {
        text-align: center;
    }
}

.home-image-title:hover {
    font-weight: 500;
    text-decoration: none;
}
.table-container {
    overflow-x: auto;
}

.image-padding-remove {
    padding-left: 0 !important;
}

.table-button {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-vertical-zero {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

footer .type--uppercase {
    margin-bottom: 0.1rem !important;
}

footer ul {
    margin-bottom: 1rem !important;
}

.map-parent-container {
    height: fit-content;
    margin-bottom: 3rem;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .dropdown__content {
        font-size: 0.85em;

        padding-left: 0.8rem !important;
    }
}

@media (min-width: 1200px) {
    .dropdown__content {
        padding-left: 0.8rem !important;
    }
}

/* .footer-6 need to have a reduced top padding for small screen  */
@media (max-width: 576px) {
    .footer-6 {
        padding-top: 1.5rem !important;
    }

    .footer-6 .row > div:not(:first-child) {
        padding-top: 1.4rem !important;
    }
}

.fit-content-width-about {
    width: 50% !important;
    padding-left: 1rem;
}

@media screen and (max-width: 998px) {
    .fit-content-width-about {
         width: 100% !important;
        padding-left: 0;
    }
    
}